:root {
    --theme-color: #f7b429;
    --hr-color: #909399;
    --linear-gradient-one: #D3A625;
    --linear-gradient-two: --theme-color;
    --linear-gradient-th: #F5DE50;
    --main-bg: #f2f3f5;
    // background: linear-gradient(to right,
    //         var(--linear-gradient-one),
    //         var(--linear-gradient-two),
    //         var(--linear-gradient-th));
    // ;

}